.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.section {
  background-color: #fff;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: .8;
}

.logo-link:active {
  opacity: .7;
}

.menu {
  z-index: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.navigation-item {
  opacity: 1;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.navigation-item:hover {
  opacity: .9;
}

.navigation-item:active {
  opacity: .8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: .8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: .7;
  color: #32343a;
}

.navigation {
  width: 100%;
  background-color: #fff;
  flex-direction: row;
  flex: 0 auto;
  order: -1;
  align-self: auto;
  align-items: flex-start;
  padding: 10px 50px;
  display: flex;
  position: relative;
  top: 0;
}

.logo-image {
  display: block;
}

.text-block {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.navigation-wrap {
  color: #fff;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.navigation-items {
  flex: none;
  order: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  border-radius: 0;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .4s, opacity .4s, color .4s;
}

.button:hover {
  color: #fff;
  background-color: #32343a;
}

.button:active {
  background-color: #43464d;
}

.button.cc-contact-us {
  z-index: 5;
  position: relative;
}

.button.cc-contact-us.navigation-item {
  opacity: 1;
}

.body {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.section-2 {
  margin-left: 30px;
  margin-right: 30px;
}

.section-2.cc-store-home-wrap {
  margin-left: 0;
  margin-right: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.intro-header {
  height: 80vh;
  color: #fff;
  -webkit-text-fill-color: inherit;
  background-color: #000;
  background-image: url('../images/IMG_6101-min.jpeg');
  background-position: 0%;
  background-size: cover;
  background-clip: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.heading-jumbo-small {
  color: #000;
  text-align: center;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 60px 100px;
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
}

.paragraph {
  opacity: .9;
  color: rgba(0, 0, 0, .9);
  text-align: center;
  align-self: center;
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.section-4 {
  background-color: #eee;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.spacer-xs {
  width: 100%;
  height: 10px;
}

.card-outer {
  background-color: #fff;
  border: 1px solid #f2f3ff;
  border-radius: 15px;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  box-shadow: 0 20px 30px -10px rgba(29, 1, 80, .1);
}

.content-wrap-center {
  width: 80%;
  text-align: center;
  background-color: #eee;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.content-wrap-center.max-width-800 {
  max-width: 800px;
}

._1-3-grid {
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-self: center;
  display: grid;
}

.h3 {
  color: #000;
  text-align: center;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 600;
}

.h2 {
  color: #000;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.1;
  display: block;
}

.card-image {
  width: 250px;
  height: 170px;
  border-radius: 0;
  order: -1;
  align-self: center;
  margin-bottom: 0;
}

.card-inner {
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  display: flex;
}

.spacer-xxl {
  width: 100%;
  height: 50px;
}

.section-5 {
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.paragraph-2 {
  width: 80vw;
  color: rgba(0, 0, 0, .9);
  text-align: center;
  order: 1;
  margin-top: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
}

.container-3 {
  flex-direction: column;
  order: 1;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.html-embed {
  width: 80vw;
  margin-bottom: 0;
  display: block;
}

.h2-2 {
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.1;
}

.section-6 {
  background-color: #eee;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.contact-text {
  color: #000;
  text-align: center;
  margin-bottom: 1px;
  margin-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.contact-method-wrap {
  width: 100%;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 0;
  display: flex;
}

._2-questions-wrap {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.div-block {
  align-items: center;
  display: flex;
}

.text-field-inform {
  height: 48px;
  border: 1px solid #dbdbdb;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 22px;
}

.text-field-inform:active {
  color: #3b2ae5;
  border-color: #dbdbdb;
}

.text-field-inform.bigger {
  height: auto;
  min-height: 58px;
}

.contact-method {
  width: 100%;
  color: #3b2ae5;
  justify-content: space-around;
  align-items: center;
  margin-right: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.contact-method:hover {
  opacity: .8;
}

.form-03-outer-div {
  width: 100%;
  max-width: 1100px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding-top: 0;
  display: flex;
}

.button-2 {
  text-transform: none;
  background-color: #3b2ae5;
  border-radius: 0;
  padding: 13px 22px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  transition: all .2s;
}

.button-2:hover {
  opacity: .8;
}

.button-2.in-form {
  width: 100%;
  text-align: center;
  background-color: #1a1b1f;
}

.h2-3 {
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.1;
}

.form-spacer {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  flex: 0 auto;
}

.content-wrap-left {
  width: 700px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-right: 0;
  display: flex;
}

.form-section-03 {
  width: 100%;
  outline-offset: 0px;
  border-bottom: 1px #dbdbdb;
  outline: 3px #1a1b1f;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.image-7 {
  width: 30px;
  height: 30px;
}

.form-block-03 {
  width: 50vw;
  opacity: 1;
  outline-offset: 0px;
  border: 1px #dbdbdb;
  outline: 0 rgba(51, 51, 51, 0);
  margin-bottom: 0;
  padding: 20px;
}

.text-block-2 {
  text-align: center;
  background-color: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .navigation-item {
    opacity: 1;
    transition-property: none;
  }

  .navigation-items {
    opacity: 1;
  }

  .intro-header {
    background-image: url('../images/IMG_6101.jpeg');
    background-position: 0%;
    background-size: cover;
  }

  .contact-method {
    width: 100%;
    align-items: flex-end;
  }

  .form-section-03 {
    padding-top: 0;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .navigation-item {
    color: #000;
  }

  .navigation {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
  }

  .logo-image {
    width: 100px;
    height: 100px;
  }

  .text-block {
    color: #fff;
  }

  .navigation-wrap {
    padding-left: 40px;
    padding-right: 40px;
  }

  .button.cc-contact-us.navigation-item {
    color: #000;
    background-color: #000;
  }

  .section-2 {
    background-color: #bdbdbd;
    margin-left: 0;
    margin-right: 0;
  }

  .section-2.cc-store-home-wrap {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0;
    margin-right: 0;
  }

  .intro-header {
    background-image: url('../images/IMG_6101.jpeg');
    background-position: 0%;
    background-size: cover;
    margin-bottom: 0;
  }

  .section-3 {
    width: 100%;
  }

  .heading-jumbo-small {
    text-align: center;
    margin-bottom: 10px;
    padding: 80px 100px;
    font-size: 32px;
  }

  .paragraph {
    order: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }

  .section-4 {
    background-color: #eee;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
  }

  .card-outer {
    border-radius: 5px;
  }

  .content-wrap-center {
    width: 80%;
    flex-direction: column;
    justify-content: flex-start;
  }

  ._1-3-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
  }

  .h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  }

  .h2 {
    order: -1;
  }

  .card-image {
    width: 300px;
    height: 200px;
  }

  .card-inner {
    order: 1;
  }

  .section-5 {
    text-align: center;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
  }

  .paragraph-2 {
    width: 80vw;
    color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 18px;
    line-height: 26px;
    display: flex;
  }

  .container-3 {
    max-width: 100vw;
    background-color: #eee;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }

  .html-embed {
    width: 80vw;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    display: block;
  }

  .h2-2 {
    order: -1;
  }

  .section-6 {
    background-color: #eee;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .contact-text {
    color: #000;
    margin-left: 10px;
    font-weight: 400;
  }

  .form {
    width: 700px;
  }

  .contact-method-wrap {
    width: 100%;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    flex-flow: row;
    order: 1;
    align-content: flex-start;
    justify-content: space-around;
    align-self: center;
    align-items: flex-start;
    margin-right: 0;
    padding-left: 0;
  }

  .div-block {
    align-items: center;
    margin-left: 0;
    display: flex;
  }

  .text-field-inform {
    height: 60px;
    color: #000;
  }

  .text-field-inform.bigger {
    min-height: 150px;
  }

  .contact-method {
    width: 100%;
    flex: 0 auto;
    justify-content: space-around;
    align-self: center;
    align-items: flex-end;
    margin-right: 0;
  }

  .form-03-outer-div {
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-self: center;
    align-items: center;
    justify-items: stretch;
    display: flex;
  }

  .button-2.in-form {
    color: #fff;
    background-color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }

  .h2-3 {
    order: -1;
  }

  .content-wrap-left {
    width: 700px;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-right: 0;
  }

  .form-section-03 {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .image-7 {
    width: 30px;
    height: 30px;
  }

  .form-block-03 {
    width: 50vw;
    border-width: 0;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: 0;
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .logo-link.w--current {
    flex: 0 auto;
  }

  .menu {
    flex: 0 auto;
    justify-content: flex-end;
    align-self: center;
    margin-left: 30px;
    display: flex;
    position: static;
  }

  .menu-button {
    padding: 0;
  }

  .menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
    order: -1;
    align-self: center;
  }

  .navigation-item {
    text-align: center;
    padding: 15px 30px;
    transition: background-color .4s, opacity .4s, color .4s;
  }

  .navigation-item:hover {
    background-color: #f7f8f9;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .navigation {
    padding: 25px 30px;
  }

  .navigation-wrap {
    background-color: #fff;
  }

  .navigation-items {
    object-fit: fill;
    background-color: #fff;
    flex-flow: row;
    flex: none;
    order: 0;
    justify-content: center;
    align-self: auto;
    align-items: center;
    display: flex;
    position: relative;
    overflow: visible;
  }

  .menu-icon {
    display: block;
  }

  .button {
    justify-content: center;
  }

  .button.cc-contact-us {
    display: block;
  }

  .intro-header {
    background-image: url('../images/IMG_6101.jpeg');
    background-position: 0 0;
    background-size: cover;
  }

  .heading-jumbo-small {
    padding: 40px;
    font-size: 24px;
    line-height: 30px;
  }

  .paragraph {
    font-size: 12px;
  }

  .content-wrap-center {
    width: 90%;
  }

  ._1-3-grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: stretch;
    justify-items: stretch;
    display: grid;
  }

  .h3 {
    font-size: 24px;
  }

  .h2 {
    font-size: 36px;
  }

  .card-image {
    height: 140px;
  }

  .paragraph-2 {
    font-size: 12px;
  }

  .h2-2 {
    font-size: 36px;
  }

  .form-03-outer-div {
    grid-template-columns: 1fr;
  }

  .h2-3 {
    font-size: 36px;
  }

  .content-wrap-left {
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .form-section-03 {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-block-03 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .logo-link {
    padding-left: 0;
  }

  .navigation {
    padding: 20px 30px;
  }

  .section-2, .section-2.cc-store-home-wrap {
    margin-left: 15px;
    margin-right: 15px;
  }

  .intro-header {
    height: 400px;
  }

  .heading-jumbo-small {
    padding: 40px 20px;
    font-size: 30px;
    line-height: 36px;
  }

  .paragraph {
    font-size: 16px;
  }

  .section-4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .card-outer {
    width: 90%;
    flex-direction: column;
    align-items: stretch;
  }

  ._1-3-grid {
    grid-template-columns: 1fr;
    align-self: center;
  }

  .card-image {
    width: 100%;
    height: auto;
  }

  .spacer-xxl {
    height: 20px;
  }

  .section-5 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .paragraph-2 {
    font-size: 16px;
  }

  .html-embed {
    width: 90vw;
  }

  .section-6 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contact-method-wrap {
    flex-direction: row;
    margin-top: 20px;
  }

  .div-block {
    margin-top: 10px;
  }

  .contact-method {
    flex-direction: column;
    flex: 0 auto;
  }

  .content-wrap-left {
    width: 500px;
    padding-left: 0;
    padding-right: 0;
  }

  .form-section-03 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .form-block-03 {
    width: 80vw;
    margin-top: 0;
    padding-top: 0;
  }
}

@media screen and (max-width: 479px) {
  .menu {
    margin-left: 15px;
  }

  .menu-button, .menu-button.w--open {
    flex: none;
  }

  .navigation {
    padding-left: 20px;
    padding-right: 20px;
  }

  .button.cc-contact-us {
    display: flex;
  }

  .heading-jumbo-small {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
  }

  .h2 {
    font-size: 30px;
  }

  .card-image {
    height: auto;
  }

  .h2-2 {
    font-size: 30px;
  }

  .contact-text {
    text-align: center;
    font-size: 12px;
  }

  .contact-method-wrap {
    text-align: center;
    flex-direction: column;
    order: 1;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    margin-right: 0;
  }

  ._2-questions-wrap {
    flex-direction: column;
  }

  .text-field-inform {
    font-size: 12px;
  }

  .contact-method {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-bottom: 10px;
  }

  .h2-3 {
    font-size: 30px;
  }

  .content-wrap-left {
    width: 300px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .form-block-03 {
    width: 100%;
    max-width: 100%;
  }
}

#w-node-f6a90a55-4f18-a35f-f452-815c70969791-56b0251d, #w-node-f6a90a55-4f18-a35f-f452-815c70969797-56b0251d, #w-node-f6a90a55-4f18-a35f-f452-815c7096979f-56b0251d, #w-node-f6a90a55-4f18-a35f-f452-815c709697a7-56b0251d, #w-node-f6a90a55-4f18-a35f-f452-815c709697af-56b0251d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1440px) {
  #w-node-f6a90a55-4f18-a35f-f452-815c709697af-56b0251d {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-f6a90a55-4f18-a35f-f452-815c70969797-56b0251d, #w-node-f6a90a55-4f18-a35f-f452-815c7096979f-56b0251d, #w-node-f6a90a55-4f18-a35f-f452-815c709697a7-56b0251d, #w-node-f6a90a55-4f18-a35f-f452-815c709697af-56b0251d {
    justify-self: center;
  }
}
